<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="Codecool" name="author"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--Latest compiled and minified Popper -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <!-- End of Bootstrap components -->

    <link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>

    <script defer src="/static/js/main.js" type="module"></script>
</head>

<body>
<div th:replace="header.html :: copy"></div>

<h1 class="title display-3" th:text="${chosencategory.getName()}"></h1>

<div class="container">
    <div class="row" id="products">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card product-card">
                <img alt="" class="product-image"
                     src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.getId()} + '.jpg'"/>
                <div class="card-header">
                    <h4 class="card-title product-name" th:text="${prod.getName()}">Product name</h4>
                    <p class="card-text product-description" th:text="${prod.getDescription()}">Product description... </p>
                </div>
                <div class="card-body product-footer">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <button class="btn btn-info add-to-cart" th:attr="data-productid=${prod.id}">Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form action="/signup" method="POST">
                        <p>
                            <label for="username" class="username-label">Username:</label><br>
                            <br>
                            <input type="text" class="username" id ="username" name="username" required>
                        </p>
                        <p>
                            <label for="password" class="username-label">Password:</label><br>
                            <br>
                            <input type="password" class="password" id="password" name="password" required><br>
                        </p>
                        <br>
                        <br>
                        <div class="registration-button-div">
                            <input class="registration-button" id ="login-button" type="submit" value="Login">
                            <input class="registration-button" id="signup-button" type="submit" value="Sign up">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>