<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="text-center header">
        <div class="hero-text">
            <h1>Easy Hire</h1>
            <p>One click employing</p>
        </div>
    </div>

    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" th:each=" category,iterStat : ${categories}">
                <li class="nav-item active">
                    <a class="nav-link" th:attr="href='/?category=' + ${category.id}" th:text="${category.name}">Category</a>
                </li>
            </ul>
            <a class="nav-link cart-sumquantity" href="#" data-toggle="modal" data-target="#myModal">Login</a>
            <a class="nav-link cart-sumquantity" href="/cart" th:attr="data-sumquantity=${sumquantitiy}"
            th:if="${sumquantitiy != null}" th:text="${'Cart: ' + sumquantitiy}">Cart</a>
        </div>
    </nav>

</div>

</body>
</html>